{{- with .cxt}} {{/* Apply proper context from dict */}}
{{- if (and .Params.cover.image (not $.isHidden)) }}
{{- $alt := (.Params.cover.alt | default .Params.cover.caption | plainify) }}
<figure class="entry-cover">
    {{- $responsiveImages := (.Params.cover.responsiveImages | default site.Params.cover.responsiveImages) | default true }}
    {{- $addLink := (and site.Params.cover.linkFullImages (not $.IsHome)) }}
    {{- $cover := (.Resources.ByType "image").GetMatch (printf "*%s*" (.Params.cover.image)) }}
    {{- if $cover -}}
    <img loading="lazy"
         src="{{ $cover.Permalink }}"
         alt="{{ $alt }}"
         width="{{ $cover.Width }}"
         height="{{ $cover.Height }}">
    {{- else }}{{/* For absolute URLs and external links */}}
    {{- if $addLink }}<a href="{{ (.Params.cover.image) | absURL }}" target="_blank"
                         rel="noopener noreferrer">{{ end -}}
    {{- $cover := (.Params.cover.image | absURL) }}
    {{- if (in (slice "jpg" "jpeg" "png" "webp") (lower (path.Ext $cover))) }}
    <img loading="lazy" src="{{ $cover }}" alt="{{ $alt }}">
    {{- else }}
    <img loading="lazy" src="{{ $cover }}" alt="{{ $alt }}">
    {{- end }}
    {{- if $addLink }}</a>{{ end -}}
    {{- end }}
</figure>
{{- end }}{{/* End image */}}
{{- end -}}{{/* End context */ -}}
